.product{
    width: 300px;
    height: 510px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 2px;
   position: relative;
}
.product img{
    width: 246px;
    height: 246px;
    border-radius: 8px;
    margin: 7px ;
}
.product-info{
    margin: 0 14px;

}
.product-info p{
    margin-bottom: 0;
    margin-left: 0;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400px;
    font-size: 21px;
    line-height: 25px;
}
.btn-cart{
    background-color: #FFE0B3;
    width: 100%;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: orangered;
}
